# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock
**/debug/**
**/Release/**
**/android/app/google-services.json
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugins.cmake
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h

# IDE / workspace
.workbuddy/
.vscode/
.idea/
*.iml
*.swp
*.swo
